.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: transform 0.2s ease;
}
.navbar2 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    transition: transform 6s ease;
    animation: myanimation 0.2s;
    z-index: 2;
}
@keyframes myanimation {
0% {
    background-color: transparent;
    color: transparent;
}
35% {
    background-color: white;
}
100% {
    background-color: white;
}
}
.active {
    font-family: 'Poppins-BoldItalic' !important;
    text-decoration: none !important;
    position: relative;
}
.active::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    top: 30px;
    background-color: black;
    animation-name: showin;
    animation-duration: 0.2s;
}
@keyframes showin {
0% {
    opacity: 0;
    top: 0;
}
50% {
    opacity: 0.1;
    top: 15px;
}
100% {
    opacity: 1;
    top: 30px;
}
}
a:hover {
    color: black;
    text-decoration: none;
}

/* animation section */
.page-test-item-test {
    position: absolute;
}

.fade-enter,
.fade-appear {
    opacity: 0;
    z-index: 1;
    transform: translateX(-150px);
}
.fade-appear-active,
.fade-enter.fade-ender-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}
.fade-exit {
    opacity: 1;
    transform: translateX(0);
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}